* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    background-color: #66FFE3;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}

.action {
    display: none;
}

#canvas {
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .action {
        display: inline-block;
    }

    #canvas {
        max-width: 90%;
        border: 1px solid black;
    }
}
